<a href="https://colab.research.google.com/github/hyunku/2022-BigdataCampusContest/blob/main/hyunku_geojson%EB%A7%8C%EB%93%A4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install dbfread
!pip install geopandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dbfread
  Downloading dbfread-2.0.7-py2.py3-none-any.whl (20 kB)
Installing collected packages: dbfread
Successfully installed dbfread-2.0.7
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 8.3 MB/s
Collecting fiona>=1.8
  Downloading Fiona-1.8.22-cp37-cp37m-manylinux2014_x86_64.whl (16.7 MB)
     |████████████████████████████████| 16.7 MB 41.7 MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.5.post1)
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 44.9 MB/s
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (22.1.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2022.9.24)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2022.4)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.22 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1

In [ ]:
from dbfread import DBF
import pandas as pd
import numpy as np
import geopandas as gpd

In [ ]:
hgd = gpd.read_file('https://raw.githubusercontent.com/vuski/admdongkor/master/ver20211001/HangJeongDong_ver_20211001.geojson')
hgd

,OBJECTID,adm_nm,adm_cd,adm_cd2,sgg,sido,sidonm,temp,sggnm,geometry
0,1,서울특별시 종로구 사직동,1101053,1111053000,11110,11,서울특별시,종로구 사직동,종로구,"MULTIPOLYGON (((126.97689 37.57565, 126.97703 ..."
1,2,서울특별시 종로구 삼청동,1101054,1111054000,11110,11,서울특별시,종로구 삼청동,종로구,"MULTIPOLYGON (((126.98269 37.59507, 126.98337 ..."
2,3,서울특별시 종로구 부암동,1101055,1111055000,11110,11,서울특별시,종로구 부암동,종로구,"MULTIPOLYGON (((126.97585 37.59656, 126.97359 ..."
3,4,서울특별시 종로구 평창동,1101056,1111056000,11110,11,서울특별시,종로구 평창동,종로구,"MULTIPOLYGON (((126.97507 37.63139, 126.97649 ..."
4,5,서울특별시 종로구 무악동,1101057,1111057000,11110,11,서울특별시,종로구 무악동,종로구,"MULTIPOLYGON (((126.96067 37.58080, 126.96281 ..."
...,...,...,...,...,...,...,...,...,...,...
3494,1492,경기도 용인시처인구 역북동,3119155,4146152500,41461,41,경기도,용인시처인구 역북동,용인시처인구,"MULTIPOLYGON (((127.17056 37.22528, 127.17016 ..."
3495,1509,경기도 용인시수지구 죽전1동,3119360,4146554000,41465,41,경기도,용인시수지구 죽전1동,용인시수지구,"MULTIPOLYGON (((127.14132 37.32908, 127.14086 ..."
3496,1512,경기도 용인시수지구 상현1동,3119362,4146557000,41465,41,경기도,용인시수지구 상현1동,용인시수지구,"MULTIPOLYGON (((127.08186 37.30127, 127.08157 ..."
3497,1154,세종특별자치시 세종시 해밀동,2901070,3611052500,36110,36,세종특별자치시,세종시 해밀동,세종시,"MULTIPOLYGON (((127.26749 36.52286, 127.26561 ..."
3498,1246,경기도 의정부시 의정부1동,3103069,4115051000,41150,41,경기도,의정부시 의정부1동,의정부시,"MULTIPOLYGON (((127.05314 37.73737, 127.05413 ..."

In [ ]:
hgd['adm_cd2'] = hgd['adm_cd2'].str[:-2]
hgd['adm_cd2'] = hgd['adm_cd2'].astype('int')
hgd = hgd.rename(columns={'adm_cd2': '행정동코드'})
hgd

,OBJECTID,adm_nm,adm_cd,행정동코드,sgg,sido,sidonm,temp,sggnm,geometry
0,1,서울특별시 종로구 사직동,1101053,11110530,11110,11,서울특별시,종로구 사직동,종로구,"MULTIPOLYGON (((126.97689 37.57565, 126.97703 ..."
1,2,서울특별시 종로구 삼청동,1101054,11110540,11110,11,서울특별시,종로구 삼청동,종로구,"MULTIPOLYGON (((126.98269 37.59507, 126.98337 ..."
2,3,서울특별시 종로구 부암동,1101055,11110550,11110,11,서울특별시,종로구 부암동,종로구,"MULTIPOLYGON (((126.97585 37.59656, 126.97359 ..."
3,4,서울특별시 종로구 평창동,1101056,11110560,11110,11,서울특별시,종로구 평창동,종로구,"MULTIPOLYGON (((126.97507 37.63139, 126.97649 ..."
4,5,서울특별시 종로구 무악동,1101057,11110570,11110,11,서울특별시,종로구 무악동,종로구,"MULTIPOLYGON (((126.96067 37.58080, 126.96281 ..."
...,...,...,...,...,...,...,...,...,...,...
3494,1492,경기도 용인시처인구 역북동,3119155,41461525,41461,41,경기도,용인시처인구 역북동,용인시처인구,"MULTIPOLYGON (((127.17056 37.22528, 127.17016 ..."
3495,1509,경기도 용인시수지구 죽전1동,3119360,41465540,41465,41,경기도,용인시수지구 죽전1동,용인시수지구,"MULTIPOLYGON (((127.14132 37.32908, 127.14086 ..."
3496,1512,경기도 용인시수지구 상현1동,3119362,41465570,41465,41,경기도,용인시수지구 상현1동,용인시수지구,"MULTIPOLYGON (((127.08186 37.30127, 127.08157 ..."
3497,1154,세종특별자치시 세종시 해밀동,2901070,36110525,36110,36,세종특별자치시,세종시 해밀동,세종시,"MULTIPOLYGON (((127.26749 36.52286, 127.26561 ..."
3498,1246,경기도 의정부시 의정부1동,3103069,41150510,41150,41,경기도,의정부시 의정부1동,의정부시,"MULTIPOLYGON (((127.05314 37.73737, 127.05413 ..."

In [ ]:
hgd = pd.concat([
    hgd,
    hgd['adm_nm'].str.split(expand=True).rename(columns={0:'시', 1:'구', 2:'동'})
], axis=1)

In [ ]:
hgd = hgd[hgd['시'] == '서울특별시'][['시', '구', '동', '행정동코드', 'geometry']]

In [ ]:
hgd.head()

,시,구,동,행정동코드,geometry
0,서울특별시,종로구,사직동,11110530,"MULTIPOLYGON (((126.97689 37.57565, 126.97703 ..."
1,서울특별시,종로구,삼청동,11110540,"MULTIPOLYGON (((126.98269 37.59507, 126.98337 ..."
2,서울특별시,종로구,부암동,11110550,"MULTIPOLYGON (((126.97585 37.59656, 126.97359 ..."
3,서울특별시,종로구,평창동,11110560,"MULTIPOLYGON (((126.97507 37.63139, 126.97649 ..."
4,서울특별시,종로구,무악동,11110570,"MULTIPOLYGON (((126.96067 37.58080, 126.96281 ..."

In [ ]:
hgd.to_file('/content/drive/MyDrive/서울빅캠공모전/data file/code/seoul-dong.geojson', driver='GeoJSON')